<% layout('layout/boilerplate') %> 

<div class="row">
    <div class="col-6 offset-3 mt-5">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %> </h4>
            <p><%= err %> </p>
            <hr>
            <a href="/campgrounds" class="btn btn-light">Go Back</a>
    </div>
</div>



